// define overrides
$primary-color: #b8860b !default;
$secondary-color: #7b7667 !default;

// load spectre files
@import "spectre/src/spectre";
@import "spectre/src/spectre-icons";
@import "spectre/src/spectre-exp";

// additional custom classes defined here
.padded {
  padding: .25rem;
}

// some utilities to be able to move the footer to the bottom of the page
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

// generate outlined variants for the evaluation buttons
.btn {
  &.btn-success-outlined {
    @include button-outline-variant($success-color);

    &.btn-toggle-on {
      @include button-variant($success-color)
    }
  }

  &.btn-error-outlined {
    @include button-outline-variant($error-color);

    &.btn-toggle-on {
      @include button-variant($error-color)
    }
  }
}

@include bg-color-variant('.bg-error-light', lighten($error-color, 40%))
@include bg-color-variant('.bg-success-light', lighten($success-color, 40%))

.result-card {
  &:hover {
    opacity: 1.0 !important;
    transition: opacity 0.2s ease-in-out;
  }
  transition: opacity 0.2s ease-in-out;
}

.eval-card {
  &.eval-card-error {
    @extend .bg-error-light
  }

  &.eval-card-success {
    @extend .bg-success-light
  }
}

.number {
  @extend .text-gray
}

.highlighting {
  @extend .text-bold
}
