{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}The Religiousracle{% endblock %}</title>
	<link rel="stylesheet" href="{% sass_src 'style.scss' %}" type="text/css">
</head>
<body class="bg-dark text-primary">
	<div class="container grid-lg page-container">
		<!-- the navbar -->
		<header class="navbar">
			<section class="navbar-section">
				<a class="navbar-brand btn btn-link" href="{% url 'index' %}"><span class="text-bold text-large"
				>The Religioracle 1000</span> made for religious scriptures</a>
			</section>

			<section class="navbar-section">
				<a href="{% url 'iterations list' %}" class="btn btn-link">Iterations overview</a>
				<!-- toggle for evaluation mode -->
				<label class="form-switch">
					<input type="checkbox" id="evaluation_toggle" {% block eval_toggle_attributes %}{% endblock %}>
					<i class="form-icon"></i>
					<span> Evaluation</span>
				</label>
			</section>
		</header>

		<div>
			{% block content %}{% endblock %}
		</div>

		<!-- spacer to push the footer to the bottom -->
		<div class="spacer"></div>

		<footer class="section section-footer">
			Made by Tom, Malte, Till, Jonas and Jenny for
			<a href="https://www.informatik.uni-leipzig.de/ifi/professuren/angewandteinf/temir/teaching/information-retrieval-ss-19/"
			   target="_blank"
			>Information Retrieval SS2019</a>.
			Licensed under the
			<a href="https://choosealicense.com/licenses/agpl-3.0/" target="_blank">AGPL License</a>.
		</footer>
	</div>

	<script type="text/javascript">
        // evaluation mode toggle
        let eval_toggle = document.getElementById('evaluation_toggle')
        let on_eval_toggle = function () {
            if (eval_toggle.checked) {
                // eval mode has been turned on
                location.href = "{% url 'evaluate' %}"
            } else {
                // eval mode has been turned off
                location.href = "{% url 'index' %}"
            }
        }
        eval_toggle.addEventListener('change', on_eval_toggle)

        // modal close (closes every modal and is bound to every .modal-close-btn)
        let modal_close_buttons = document.getElementsByClassName('modal-close-btn')
        function close_modal() {
            let modals = document.getElementsByClassName('modal')
            for (let m of modals) {
                m.classList.remove('active')
            }
        }
        for (let m of modal_close_buttons) {
            m.addEventListener('click', close_modal)
        }

        // also close modals when the escape key is pressed
        function on_key_down(e) {
            if (e.key === 'Escape') {
                close_modal()
			}
		}
        document.addEventListener('keydown', on_key_down)

        /**
         * Our own little wrapper for ajax requests.
         * It will always use POST but takes care of submitting the csrf cookie from django.
         *
         * @param {Object} payload - a JavaScript object containing the data, will be converted to JSON when sending
         * @param {String} url - the url to send the data to
         * @param {HTMLElement} load_indicator_element - the element to which we attach the load indicator class
         * @param {Function} success_handler - a function to handle success
         * @param {Function} error_handler - a function to handle errors
         */
        function sendAjaxRequest (payload, url, load_indicator_element = null, success_handler = null, error_handler = null) {
            // add load indicator
            if (load_indicator_element !== null) {
                load_indicator_element.classList.add('loading')
            }

            let xhr = new XMLHttpRequest()
            xhr.open('POST', url, true)
            xhr.setRequestHeader('Content-Type', 'application/json')
            // get the value of the csrf cookie and set the header
            xhr.setRequestHeader(
                'X-CSRFToken',
                document.cookie.replace(/(?:(?:^|.*;\s*)csrftoken\s*=\s*([^;]*).*$)|^.*$/, '$1')
            )

            // add event handlers to the request
            let on_xhr_error = function (event, message = null) {
                // what happens if the request was NOT successful
                // call custom error handler if one is defined
                if (error_handler !== null) {
                    error_handler()
                }

                // remove loading indicator
                if (load_indicator_element !== null) {
                    load_indicator_element.classList.remove('loading')
                }

                // generate and show alert
                let alert_text = 'An error happened while transmitting the data to the server. Please try again.'
                if (message !== null) {
                    alert_text += '\n' + message
                }
                alert(alert_text)
            }
            xhr.onerror = on_xhr_error
            xhr.onabort = on_xhr_error
            xhr.ontimeout = on_xhr_error
            xhr.onload = function (event) {
                // what happens if the request was successful
                if (this.status < 200 || this.status >= 300) {
                    // treat this like an error if we didn't receive an accepting status code
                    on_xhr_error(event, 'Status code: ' + this.status)
                } else {
                    // remove loading indicator
                    if (load_indicator_element !== null) {
                        load_indicator_element.classList.remove('loading')
                    }

                    // call custom success handler if one is defined
                    if (success_handler !== null) {
                        success_handler()
                    }
                }
            }

            // send the request
            xhr.send(JSON.stringify(payload))
        }
	</script>

	{% block scripts %}{% endblock %}

</body>
</html>
