{% extends 'web_frontend/base.html' %}

{# set the eval mode checkbox to checked if we're not viewving a single result set #}
{% block eval_toggle_attributes %}
	{% if next_page is None %}
		checked
	{% endif %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="columns">

			{% if remaining_queries is None or remaining_queries > 0 %}
				<div class="column col-12 padded">
					<div class="card text-dark">
						<div class="card-header">
							<div class="h3">
								Query{% if query.number is not None %} #{{ query.number }}{% endif %}: {{ query.query }}
							</div>
						</div>
						<div class="card-body">
							{% if query.description != '' %}
								<p>{{ query.description }}</p>
							{% endif %}
							{% if query.narrative != '' %}
								<p>
									<span class="text-bold">Narrative</span>: {{ query.narrative }}
								</p>
							{% endif %}
						</div>
						<div class="card-footer pt-0">
							{% if remaining_queries is not None %}
								<sub class="text-gray">Remaining queries: {{ remaining_queries }}</sub>
							{% endif %}
						</div>
					</div>
				</div>

				<!-- lots of search results -->
				{% for id, d in documents.items %}
					<div class="column col-12 padded">
						<div
								class="card text-dark eval-card
									{% if 'rating' in d %}
										{% if d.rating <= 0 %}eval-card-error{% else %}eval-card-success{% endif %}
									{% endif %}"
								id="eval-card-{{ id }}" eval_group="{{ id }}"
						>
							<div class="card-header">
								<div class="h3">
									{{ d.title|safe }}
									{% if show_score %}
										<span class="text-gray">(norm. score: {{ d.score|floatformat:3 }})</span>
									{% endif %}
								</div>
							</div>
							<div class="card-body">
								{{ d.text|safe }}
							</div>
							<div class="card-footer">
								<p><sub class="text-gray">{{ d.details }}</sub></p>
								{# set the details in a paragraph to gain distance at the bottom #}
								<!-- the buttons for the evaluation -->
								<div class="container">
									<div class="columns">
										<div class="column col6">
											<button
													{% if 'rating' in d and d.rating == 0 %}
														class="btn btn-block btn-error-outlined eval-btn eval-group-{{ id }} btn-toggle-on"
													{% else %}
														class="btn btn-block btn-error-outlined eval-btn eval-group-{{ id }}"
													{% endif %}
														eval_group="{{ id }}"
														eval_rating=0
											>
												<i class="icon icon-cross"></i>
											</button>
										</div>
										<div class="column col6">
											<button
													{% if 'rating' in d and d.rating == 1 %}
														class="btn btn-block btn-success-outlined eval-btn eval-group-{{ id }} btn-toggle-on"
													{% else %}
														class="btn btn-block btn-success-outlined eval-btn eval-group-{{ id }}"
													{% endif %}
														eval_group="{{ id }}"
														eval_rating=1
											>
												<i class="icon icon-check"></i>
											</button>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				{% empty %}
					<div class="column col-12 padded">
						<div class="card text-dark">
							<div class="card-header">
								<div class="h3">No results</div>
							</div>
							<div class="card-body">
								<div>We didn't get any results for the query "{{ query }}"</div>
							</div>
							<div class="card-footer">
								<sub class="text-gray">This likely means that there just aren't any results for your
									query. Or there is something wrong with the search backend.</sub>
							</div>
						</div>
					</div>
				{% endfor %}

				<div class="column col-8 col-sm-12 col-mx-auto">
					<button class="btn btn-lg btn-block" id="btn-eval-next">
						{% if next_page is None %}
							Next query
						{% else %}
							Submit
						{% endif %}
					</button>
				</div>
			{% else %}
				<div class="column col-12 padded">
					<div class="card text-dark">
						<div class="card-header">
							<div class="h3">There's nothing to rate.</div>
						</div>
						<div class="card-body">
							<div>Just be a happy little monkey and move on :)</div>
						</div>
						<div class="card-footer">
							<sub class="text-gray">You may also have a look at our <a href="{% url 'iterations list' %}"
																					  class="text-gray"
							>iterations overview</a> to view old iterations or create a new one.</sub>
						</div>
					</div>
				</div>
			{% endif %}

		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
        function on_eval_btn_click () {
            // deactivate all buttons
            let eval_group = this.getAttribute('eval_group')
			let eval_rating = this.getAttribute('eval_rating')
            for (let x of document.getElementsByClassName('eval-group-' + eval_group)) {
                x.classList.remove('btn-toggle-on')
            }

            // activate clicked button
            this.classList.add('btn-toggle-on')

			// add color to the eval cards
			let eval_card = document.getElementById('eval-card-' + eval_group)
			eval_card.classList.remove('eval-card-error', 'eval-card-success')
			if (eval_rating > 0) {
			    eval_card.classList.add('eval-card-success')
			} else {
			    eval_card.classList.add('eval-card-error')
			}
        }

        // add event listener to buttons
        let eval_buttons = document.getElementsByClassName('eval-btn')
        for (let btn of eval_buttons) {
            btn.addEventListener('click', on_eval_btn_click)
        }

        // check if all results have been rated
        function check_ratings_complete () {
            let eval_cards = document.getElementsByClassName('eval-card')
            for (let card of eval_cards) {
                // check if we have at least one active button (i.e. one with class 'btn-toggle-on')
                let active_buttons = card.getElementsByClassName('btn-toggle-on')
                if (active_buttons.length <= 0) {
                    return false
                }
            }
            return true
        }

        // define and bind the function to check and finish the evaluation
        function on_finish_rating () {
            if (!check_ratings_complete()) {
                alert('Please rate every result before saving.')
                return false
            }

            // collect the ratings and continue
            let ratings = {}
            let eval_cards = document.getElementsByClassName('eval-card')
            for (let card of eval_cards) {
                let active_button = card.getElementsByClassName('btn-toggle-on').item(0)
                let eval_group = active_button.getAttribute('eval_group')
                ratings[eval_group] = active_button.getAttribute('eval_rating')
            }

            // create new ajax request
            function on_ajax_success () {
                {% if next_page is None %}
                    window.location.reload(true)
                {% else %}
                    window.location.assign("{{ next_page }}")
                {% endif %}
            }

            sendAjaxRequest(
                {
                    'query_id': {{ query.id }},
                    'iteration_id': {{ iteration.id }},
                    'ratings': ratings,
                },
                '{% url 'api receive ratings' %}',
                document.getElementById('btn-eval-next'),
                on_ajax_success
            )
        }

        let finish_button = document.getElementById('btn-eval-next')
        finish_button.addEventListener('click', on_finish_rating)
	</script>
{% endblock %}
