{% extends 'web_frontend/base.html' %}

{% block content %}
	<!-- this centers the search bar vertically -->
	<div style="margin-top: 25vh;">
		<!-- this reduces the width of the search bar -->
		<div class="columns">
			<div class="column col-md-12 col-9 col-mx-auto">
				<!--this is the form for the input-->
				<form action="{% url 'search' %}" method="get">
					<div class="input-group">
						<span class="input-group-addon"><i class="icon icon-search"></i></span>
						<input name="query" aria-label="search" type="text" class="form-input"
							   placeholder="What do you want to ask the gods?"
						>
						<button class="btn btn-primary input-group-btn" type="submit">Submit</button>
					</div>
					<div class="form-group flex-centered">
						<label class="form-switch">
							<input name="chronological_order" type="checkbox" checked>
							<i class="form-icon"></i> order the results chronologically
						</label>
					</div>
					{% csrf_token %}
				</form>

			</div>
		</div>

	</div>
{% endblock %}
