{% extends 'web_frontend/base.html' %}
{% load mathfilters %}

{% block content %}
	<div class="container">
		<div class="columns">

			{# the iterations overview #}
			<div class="column col-12 padded">
				<div class="card text-dark">
					<div class="card-header">
						<div class="h3">Iterations overview</div>
					</div>
					<div class="card-body">
						<div>
							<table class="table table-striped table-hover">
								<tr>
									<th class="text-gray">id</th>
									<th>name</th>
									<th>score chronological</th>
									<th class="text-gray tooltip" data-tooltip="relative score change from previous iteration">rel. &Delta;</th>
									<th>NDCG</th>
									<th class="text-gray tooltip" data-tooltip="relative score change from previous iteration">rel. &Delta;</th>
									<th>changes</th>
									<th>details</th>
								</tr>
								{% for i in iterations %}
									<tr>
										<td class="text-gray">{{ i.id }}</td>
										<td>{{ i.name }}</td>

										{# chronological score #}
										{% if i.score_chronological is not None %}
											<td>{{ i.score_chronological|floatformat:3 }}</td>
										{% else %}
											<td>ratings incomplete</td>
										{% endif %}
										{% if i.score_change_chronological is not None %}
											{% if i.score_change_chronological|stringformat:'f' == 'inf' %}
												<td class="text-gray">&infin;%</td>
											{% else %}
												<td class="text-gray">{{ i.score_change_chronological|mul:100|floatformat:1 }}%</td>
											{% endif %}
										{% else %}
											<td></td>
										{% endif %}

										{# NDCG #}
										{% if i.score_ndcg is not None %}
											<td>{{ i.score_ndcg|floatformat:3 }}</td>
										{% else %}
											<td>ratings incomplete</td>
										{% endif %}
										{% if i.score_change_ndcg is not None %}
											{% if i.score_change_ndcg|stringformat:'f' == 'inf' %}
												<td class="text-gray">&infin;%</td>
											{% else %}
												<td class="text-gray">{{ i.score_change_ndcg|mul:100|floatformat:1 }}%</td>
											{% endif %}
										{% else %}
											<td></td>
										{% endif %}

										{# either show changes complete (if short enough) or truncate and add a tooltip #}
										{% if i.changes|wordcount <= 6 %}
											<td>{{ i.changes }}</td>
										{% else %}
											<td class="tooltip" data-tooltip="{{ i.changes }}">
												{{ i.changes|truncatewords:5 }}
											</td>
										{% endif %}

										<td>
											<a class="btn btn-sm btn-action" href="{% url 'iterations view' i.id %}">
												<i class="icon icon-more-horiz"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</div>
					<div class="card-footer">
						<sub class="text-gray">
							The scores are up to date as long as the scores for each result set are correct. You could
							also update them manually below.
						</sub>
					</div>
				</div>
			</div>

			{# the management card #}
			<div class="column col-12 padded">
				<div class="card text-dark">
					<div class="card-header">
						<div class="h3">Management</div>
					</div>
					<div class="card-body">
						<div class="container">
							<div class="columns">
								<div class="column col-6 col-sm12">
									<button class="btn btn-block" id="btn-refresh-scores">refresh scores</button>
								</div>
								<div class="column col-6 col-sm12">
									<button
											class="btn btn-block"
											onclick="document.getElementById('modal-iteration-add').classList.add('active')"
									>
										new iteration
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<sub class="text-gray">
							Changing an iteration or deleting it is only possible in the details view for the iteration
							in question.
						</sub>
					</div>
				</div>
			</div>

			{# the new modal to add a new iteration #}
			<form id="form-iteration-add">
				<div class="modal text-dark" id="modal-iteration-add">
					<a class="modal-overlay modal-close-btn" aria-label="Close"></a>
					<div class="modal-container">
						<div class="modal-header">
							<a class="btn btn-clear float-right modal-close-btn" aria-label="Close"></a>
							<div class="modal-title h5">Register a new iteration</div>
						</div>
						<div class="modal-body">
							<p>Creating a new iteration runs every registered query in the current configuration and
								saves its results. These will then be able to be rated when the evaluation mode is
								turned on.</p>
							<div class="form-horizontal">
								<div class="form-group">
									<div class="col-3 col-sm-12">
										<label class="form-label" for="iteration-add-name">Name</label>
									</div>
									<div class="col-9 col-sm-12">
										<input class="form-input" type="text" id="iteration-add-name" required
											   placeholder="Name/Version of this iteration." name="name"
										>
									</div>
								</div>
								<div class="form-group">
									<div class="col-3 col-sm-12">
										<label class="form-label" for="iteration-add-changes">Changes</label>
									</div>
									<div class="col-9 col-sm-12">
										<textarea class="form-input" id="iteration-add-changes" rows="5"
												  placeholder="The changes made in this iteration." name="changes"
										></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" id="btn-iteration-add" type="submit">save</button>
							<button class="btn modal-close-btn" type="reset">cancel</button>
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
        let form_add_iteration = document.getElementById('form-iteration-add')

        function save_new_iteration () {
            sendAjaxRequest(
                {
                    'name': form_add_iteration.elements['name'].value,
                    'changes': form_add_iteration.elements['changes'].value
                },
                '{% url 'api iteration create' %}',
                document.getElementById('btn-iteration-add'),
                function () { window.location.reload(true) }
            )
            event.preventDefault()
        }

        form_add_iteration.addEventListener('submit', save_new_iteration)

        let btn_score_refresh = document.getElementById('btn-refresh-scores')

        function update_scores () {
            sendAjaxRequest(
                {},
                '{% url 'api update scores' %}',
                btn_score_refresh,
                function () { window.location.reload(true) }
            )
        }

        btn_score_refresh.addEventListener('click', update_scores)
	</script>
{% endblock %}
