{% extends 'web_frontend/base.html' %}

{% block content %}
	<div class="container">
		<div class="columns">

			{# information on this iteration #}
			<div class="column col-12 padded">
				<div class="card text-dark">
					<div class="card-header">
						<div class="h3">Iteration "{{ iteration.name }}"</div>
					</div>
					<div class="card-body">
						<div>
							{# show score #}
							{% if iteration.score_chronological is not None and iteration.score_ndcg is not None %}
								<p>
									<span class="text-bold">Score chronological</span>: {{ iteration.score_chronological|floatformat:3 }}<br>
									<span class="text-bold">Score NDCG</span>: {{ iteration.score_ndcg|floatformat:3 }}
								</p>
							{% else %}
								<p>Rating incomplete.</p>
							{% endif %}
							{% if iteration.changes|length > 0 %}
								<p class="m-0"><span class="text-bold">Changes</span>:<br>{{ iteration.changes }}</p>
							{% else %}
								<p class="m-0">No changes have been documented.</p>
							{% endif %}
						</div>
					</div>
					<div class="card-footer">
						<sub class="text-gray">
							You can delete this iteration and its buffered results by clicking <a
								class="text-gray c-hand"
								onclick="document.getElementById('modal-iteration-delete').classList.add('active')"
						>here</a>.
						</sub>
					</div>
				</div>
			</div>

			{# ratings for single queries #}
			<div class="column col-12 padded">
				<div class="card text-dark">
					<div class="card-header">
						<div class="h3">Scores for this iteration</div>
					</div>
					<div class="card-body">
						<div>
							<table class="table table-striped table-hover">
								<tr>
									<th class="text-gray">id</th>
									<th>query</th>
									<th>expectation</th>
									<th>score chronological</th>
									<th>NDCG</th>
									<th>edit</th>
								</tr>
								{% for q in query_scores %}
									<tr>
										<td class="text-gray">{{ q.id }}</td>
										<td>{{ q.query.query }}</td>

										{# show either the expectation (if short enough) or truncate and add a tooltip #}
										{% if q.query.expectation|wordcount <= 6 %}
											<td>{{ q.query.expectation }}</td>
										{% else %}
											<td class="tooltip" data-tooltip="{{ q.query.expectation }}">
												{{ q.query.expectation|truncatewords:5 }}
											</td>
										{% endif %}

										{# show either the score or that it's not completly rated #}
										{% if q.score_chronological is not None %}
											<td>{{ q.score_chronological|floatformat:3 }}</td>
										{% else %}
											<td>rating incomplete</td>
										{% endif %}
										{% if q.score_ndcg is not None %}
											<td>{{ q.score_ndcg|floatformat:3 }}</td>
										{% else %}
											<td>rating incomplete</td>
										{% endif %}

										<td>
											<a class="btn btn-sm btn-action"
											   href="{% url 'iterations single query view' iteration.id q.query.id %}"
											>
												<i class="icon icon-edit"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</div>
					<div class="card-footer">
						<sub class="text-gray">
							You can view and edit the ratings for every single result set in this iteration using the
							edit button in the table.
						</sub>
					</div>
				</div>
			</div>

			{# the modal to delete the iteration #}
			<div class="modal text-dark" id="modal-iteration-delete">
				<a class="modal-overlay modal-close-btn" aria-label="Close"></a>
				<div class="modal-container">
					<div class="modal-header">
						<a class="btn btn-clear float-right modal-close-btn" aria-label="Close"></a>
						<div class="modal-title h5">Delete this iteration</div>
					</div>
					<div class="modal-body">
						<p>Do you really want to delete this iteration? This is not reversible!</p>
					</div>
					<div class="modal-footer">
						<button class="btn" id="btn-iteration-delete">do it!</button>
						<button class="btn btn-primary modal-close-btn">cancel</button>
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
        let btn_iteration_delete = document.getElementById('btn-iteration-delete')

        function delete_iteration () {
            sendAjaxRequest(
                {},
                '{% url 'api iteration delete' iteration.id %}',
                btn_iteration_delete,
                function () { window.location.assign("{% url 'iterations list' %}") }
            )
        }

        btn_iteration_delete.addEventListener('click', delete_iteration)
	</script>
{% endblock %}
