{% extends 'web_frontend/base.html' %}
{% load mathfilters %}

{% block content %}
	<div class="container">
		<div class="columns">

			<!-- search field -->
			<div class="column col-12 padded">
				<form action="{% url 'search' %}" method="get">
					<div class="columns">
						<div class="column col-9 col-md-8 col-sm-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="icon icon-search"></i></span>
								<input name="query" aria-label="search" type="text" class="form-input"
									   placeholder="What do you want to ask the gods?" value="{{ query }}"
								>
								<button class="btn btn-primary input-group-btn" type="submit">Submit</button>
							</div>
						</div>
						<div class="column col-3 col-md-4 col-sm-12">
							<div class="flex-centered">
								<label class="form-switch">
									<input name="chronological_order" type="checkbox"
										   {% if chronological_order %}checked{% endif %}
									>
									<i class="form-icon"></i> chronological order
								</label>
							</div>
						</div>
					</div>
					{% csrf_token %}
				</form>
			</div>

			<!-- lots of search results -->
			{% for id, r in results.items %}
				<div class="column col-12 padded">
					<div
							class="card result-card text-dark {% if r.text|wordcount > truncate_threshold %}c-hand{% endif %}"
							{% if chronological_order %}style="opacity: {{ r.score }}"{% endif %}
							onclick="document.getElementById('modal-result-{{ id }}').classList.add('active')"
					>
						<div class="card-header">
							<div class="h3">{{ r.title|safe }}</div>
						</div>
						<div class="card-body">
							{% if r.text|wordcount <= truncate_threshold %}
								{{ r.text|safe }}
							{% else %}
								{{ r.text|truncatewords_html:truncate_amount|safe }}
							{% endif %}
						</div>
						<div class="card-footer">
							<sub class="text-gray">
								This excerpt from the {{ r.origin }}
								{% if 'year_range_start' in r and 'year_range_end' in r %}
									was created between the years
									{{ r.year_range_start|abs }}
									{% if r.year_range_start < 0 %}BC{% endif %}
									and
									{{ r.year_range_end|abs }}
									{% if r.year_range_end < 0 %}BC{% endif %}
									.<br>
								{% else %}
									has no age information available.<br>
								{% endif %}
								Normalized score: {{ r.score|floatformat:3 }}.
							</sub>
						</div>
					</div>
				</div>

				{# add the modal with the full document #}
				{% if r.text|wordcount > truncate_threshold %}
					<div class="modal modal-lg text-dark" id="modal-result-{{ id }}">
						<a class="modal-overlay modal-close-btn" aria-label="Close"></a>
						<div class="modal-container">
							<div class="modal-header">
								<a class="btn btn-clear float-right modal-close-btn" aria-label="Close"></a>
								<div class="modal-title h3">{{ r.title|safe }}</div>
							</div>
							<div class="modal-body">
								<div class="content">
									{{ r.text|safe }}
								</div>
							</div>
							<div class="modal-footer">
								<sub class="text-gray">
								This excerpt from the {{ r.origin }}
								{% if 'year_range_start' in r and 'year_range_end' in r %}
									was created between the years
									{{ r.year_range_start|abs }}
									{% if r.year_range_start < 0 %}BC{% endif %}
									and
									{{ r.year_range_end|abs }}
									{% if r.year_range_end < 0 %}BC{% endif %}
									.<br>
								{% else %}
									has no age information available.<br>
								{% endif %}
								Normalized score: {{ r.score|floatformat:3 }}.
							</sub>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}

		</div>
	</div>
{% endblock %}
